body
{
	font-family:sans-serif;
    font-size: 14px;
	margin: 0px;
}

header
{
	height: 55px;
	background-color: white;
	border: solid black 2px;
	border-radius: 4px;
}

#accueil-sec 
{     
	background: url("acc.jpg") no-repeat;
	background-attachment: fixed;
	padding-top: 80px;
	padding-bottom: 750px;
	display: block;
}

.barre
{
	position: fixed; 
	top:0px;
	background-color: white;
	width: 100%;
}

.logo
{
	display: inline-block;
	width: 12%;
	padding-top: 4px;
}

.menu .active a
{
	color: grey;
}

.menu ul
{
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 21px;
	text-align: center;
	height: 100%;
}

.menu 
{
	font-weight : bold;
	font-family : Arial;
	font-size : 12px;
	display: inline-block;
	width: 88%;
	float: right;
	height: 100%;
}

.menu a 
{
	display : block;
	padding : 0px;
	background : #fff;   
	color : #000;
	text-decoration : none;
	height: 100%;
	line-height: 45px;
}

.menu li 
{
	float : left;
	border-right : 1px solid #fff;
	min-width: 220px;
}

html>body .menu li 
{
	border-right: 1px solid transparent;
}

.menu a:hover 
{
	color: #fff;
	background: #000;
	text-decoration: underline;
}

.texte-accueil
{
	color: white;
}

.texte-accueil .pj
{
    font-size:50px ;
    font-weight:900;
    border:5px double #fff;
	width: 800px;
    text-transform:uppercase;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.titre
{	
	text-decoration: underline;
	text-align: center;
}

.a_propos
{
	padding-top: 10px;
}

.a_propos h2
{
	color: rgb(75, 0, 130);
}

.a_propos .avis
{
	padding-left: 50px;
}

.a_propos .trouver
{
	padding-left: 40px;
}

.carte
{
	display: inline-block;
	float: right;
	padding-bottom: 80px;
}

.questionnaire
{
	display: inline-block;
	float: left;
	background-color: rgb(206, 206, 206);
	width: 550px;
	border: 2px solid black;
	border-radius:5px;
	margin-bottom: 100px;
	margin-left: 20px;
	padding-left: 50px;
}

.questionnaire .champ
{
	color: red;
	font-weight: bold;
}

.members_m
{
	margin-left: 65px;
	border: 2px solid black;
	width: 600px;
	display: inline-block;
	background-color: lightgrey;
	-moz-box-shadow: 10px 10px 5px 0px #656565;
	-webkit-box-shadow: 10px 10px 5px 0px #656565;
	-o-box-shadow: 10px 10px 5px 0px #656565;
	box-shadow: 10px 10px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.photo_marine
{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 6px;
}

.photo_marine:hover
{
	width: 250px;
	height: 255px;
}

.photo_charlotte:hover
{
	width: 250px;
	height: 255px;
}

.logo_fb:hover
{
	color:#343434;
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #656565;
	background:#cfcfcf;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#656565"); /* Pour IE seulement et mode gradient à linear */
	background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#656565));
	background: -webkit-linear-gradient(#cfcfcf, #656565);
	background: -moz-linear-gradient(#cfcfcf, #656565);
	background: -o-linear-gradient(#cfcfcf, #656565);
	background: -ms-linear-gradient(#cfcfcf, #656565);
	background: linear-gradient(#cfcfcf, #656565);
}

.logo_ld:hover
{
	color:#343434;
	-moz-box-shadow: 0px 0px 10px #343434;
	-webkit-box-shadow: 0px 0px 10px #343434;
	-o-box-shadow: 0px 0px 10px #343434;
	box-shadow: 0px 0px 10px #343434;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #656565;
	background:#cfcfcf;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#656565"); /* Pour IE seulement et mode gradient à linear */
	background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#656565));
	background: -webkit-linear-gradient(#cfcfcf, #656565);
	background: -moz-linear-gradient(#cfcfcf, #656565);
	background: -o-linear-gradient(#cfcfcf, #656565);
	background: -ms-linear-gradient(#cfcfcf, #656565);
	background: linear-gradient(#cfcfcf, #656565);
}

.members_m table 
{
	height: 10%;
	vertical-align: top;
	display: inline-block;
	padding-top: 15px;
	font-size: 16px;
}

.logos
{
	margin-left: 518px;
}

.logos_c
{
	margin-left: 558px;
}


.members_c
{
	margin-left: 65px;
	border: 2px solid black;
	width: 600px;
	display: inline-block;
	background-color: lightgrey;
	-moz-box-shadow: 10px 10px 5px 0px #656565;
	-webkit-box-shadow: 10px 10px 5px 0px #656565;
	-o-box-shadow: 10px 10px 5px 0px #656565;
	box-shadow: 10px 10px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.photo_charlotte
{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 6px;
}

.members_c table 
{
	height: 10%;
	vertical-align: top;
	display: inline-block;
	padding-top: 15px;
	font-size: 16px;
}

.affiche
{
	margin-left: 350px;
}

footer
{
	background-color: rgb(0, 51, 102);
	position: fixed;
	bottom: 0px;
	width: 500px;
	border: 2px solid black;
	margin-left: 515px;
}

footer p
{
	color: white;
	text-align: center;
}

/* Partie Présentation */

article .règles li
{
	display:block;
}

article .presentation
{
	padding-top: 10%;
	color:black;
	width:80%;
	padding-left:5%;
	padding-right: 15%;
	padding-bottom: 6%;
	background-color: rgb(239,239,239);
	font-family:serif;
}
article .presvideo
{
	text-align:center;
}
video
{
	width:100%;
}

article .presentation .texte
{
	text-align:justify;
	font-size: 15pt;

}
